* {
    padding: 0;
    margin: 0;
}

html,
body,
#app {
    height: 100%;
    font-family: Roboto;
    background-color: forestgreen;
}

.word {
    height: 100%;
    color: White;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.word span {
    margin-top: 0;
    font-size: 650px;
}
@media screen and (max-width : 450px)
{
    .word span {
        font-size: 200px;
    }
}
@media screen and (max-width : 850px) and (min-width : 450px)
{
    .word span {
        font-size: 300px;
    }
}

[v-cloak] {
    display: none
}